* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}
*::selection {
  background: rgba(124, 131, 253, 0.5);
}

body {
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    rgb(150, 186, 255),
    rgb(124, 131, 253)
  );
}
a {
  text-decoration: none;
}

header {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    rgb(150, 186, 255),
    rgb(124, 131, 253)
  );
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}